@media (max-width: 768px){
    #app nav {
        position: fixed;
        padding: 15px 20px;
    }
    /* nav img {
        width: 120px;
        cursor: pointer;
    } */
    #menu-btn{
        display: initial;
        margin-top: 15px;
    }
    
    #menu-close{
        display: initial;
        color: white;
        font-size: 1.6rem;
        padding: 30px 0 20px 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background-color: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    } 
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: white;
    }
    #search-box {
        width: 50vw;
        justify-self: center;
        margin: 10px 10rem 0 0;
    }
    #home p {
        width: 90%;
    }
    #register {
        padding: 6vw 4vw 6vw 4vw;
    }
    .sort-toggle-btn {
        margin-top: 5rem;
    }
    .about-box .kabeer {
        margin-left: 0vh;
    }
    footer h3 {
        text-align: start;
    }
    footer li {
        text-align: start;
    }
    footer .subscribe a {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 15px 12px;
        margin-left: -0rem;
        margin-top: 10rem;
        background-color: white;
        font-weight: 600;
        border-radius: 0px;
    }
    footer p {
        text-align: start;
        color: #7b838a;
    }
    #checkout_button {
        background-color: rgb(255, 208, 0);
        color: black;
        margin-top: -19.5rem;
        margin-left: -10rem;
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        transform-style: preserve-3d;
    }
    .back-to-shop-btn {
        margin-right: 60vw;
    }
    #cart-section .title1 {
        width: 90%;
        font-family: 'Montserrat';
        margin-right: -8.5rem;
        margin-top: 0rem;
        text-align: center;
    }
    .cart-product {
        width: 50vw;
        border-bottom: 1px solid silver;
        display: flex;
        margin: 0 5rem 0 100rem;
        justify-content: space-around;
        font-family: 'Poppins';
        padding: 10px 0;
    }
    #price-overview {
        border-radius: 20px;
        width: 300px;
        height: 275px;
        text-align: left;
        margin-top: 10rem;
        background-color: rgba(214, 214, 214, 0.552);
    }
    #checkout-section {
        margin-top: 3rem;
        background-color: #bfbfbf6a;
        width: 100vw;
        height: 120vw;
        display: flex;
    }
    #checkout-form {
        width: 100%;
        height: 65%;
        margin-top: 9.5rem;
        
    }
    .form-input {
        width: 48%;
        height: 40px;
        padding: 0 0.1rem;
        font-size: 1rem;
        color: #333;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }
    #billing-information {
        width: 80%;
        height: 65%;
        margin-top: 9.5rem;
        margin-left: 5rem;
        padding: 1.5rem;
        background-color: #F9F9FF;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        text-align: left;
    }
 }

 @media (max-width: 475px){
    #app nav {
        padding: 15px 20px;
    }
    nav img {
        width: 90px;
        cursor: pointer;
    }
    #menu-btn{
        display: initial;
        margin-top: 15px;
        margin-left: -5rem;
    }
    #search-box {
        width: 40vw;
        justify-self: center;
        margin: 20px 10rem 0 0;
    }
    #register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #checkout_button {
        background-color: rgb(255, 208, 0);
        color: black;
        margin-top: -16.2rem;
        margin-left: -5rem;
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        transform-style: preserve-3d;
    }
    #cart-section{
        width: 83%;
    }
    .cart-product {
        width: 100vw;
        border-bottom: 1px solid silver;
        display: flex;
        margin-top: 1rem;
        margin-right: -13rem;
        justify-content: space-around;
        font-family: 'Poppins';
        padding: 10px 0;
    }
    .quantity-button {
        margin-left: -5rem;
        width: 30px;
        height: 30px;
        border: none;
        background-color: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .cart-product-count {
        margin-top: 5px;
        margin-left: -70px;
    }
    .cart-product-rate {
        margin-left: 1rem;
        margin-top: -3.5rem;
        color: var(--accent-color);
    }
    .remove {
        margin-top: -2.6rem;
        margin-right: -3rem;
        cursor: pointer;
    }
    #cart-section .title1 {
        width: 90%;
        font-family: 'Montserrat';
        align-items: center;
    }
    .cart-product-figure {
        width: 30%;
        margin: auto 0;
    }
    .cart-product img {
        width: 100%;
    }
    .back-to-shop-btn {
        margin-right: 0;
    }
    #price-overview {
        border-radius: 20px;
        width: 300px;
        height: 275px;
        text-align: left;
        margin-top: 10rem;
        margin-right: -10.5rem;
        background-color: rgba(214, 214, 214, 0.552);
    }

    #checkout-section {
        margin-top: 3rem;
        background-color: #bfbfbf6a;
        width: 100vw;
        height: 54rem;
        display: flex;
    }

    #checkout-form {
        /* opacity: 0; */
        width: 100%;
        height: 50%;
        margin-top: 0rem;
        margin-left: 0;
        background-color: rgba(255, 255, 255, 0.357);
        border-radius: 20px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #billing-information {
        width: 100%;
        height: 50%;
        margin-top: 27rem;
        margin-left: -27rem;
        padding: 1.5rem;
        background-color: #F9F9FF;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        text-align: left;
    }
    .bill-label {
        margin-bottom: 0rem;
        font-weight: 600;
        color: #555;
    }
    .receipt-img {
        width: 100%;
        margin-top: -2.6rem;
        border-radius: 5px;
        object-fit: cover;
    }
    #products-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 products per row */
        grid-gap: 0rem;
        margin-left: -0.5rem;
    }

    .product-item {
        width: 100%;
        max-width: none;
        border-radius: 8px;
        padding: 10px;
    }
    .product-item h2 {
        margin-left: -0rem;
    }
    .product-item .product-location{
        margin-left: 0rem;
    }
    .product-item img {
        width: 100%;
    }
    .price {
        display: flex;
        width: 44px;
        height: 38px;
        background-color: rgba(186, 186, 186, 0.552);
        margin-left: 9.5rem;
    }

    #creater .creater-box img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
 }