<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Commit-6</title>
    <link rel="icon" type="image/x-icon" href="images/icon.webp">

    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div id="app">
        <!-- NavBar -->
        <header>
            <!-- NavBar -->
            <nav v-show="showNavBar">
                <img src="./Images/logo1.png" alt="">
                <div class="navigation">
                    <ul>
                        <div id="search-box">
                            <i class="fas fa-search search-icon"></i>
                            <input id="search-area">
                        </div>
                        <li><a href="#" v-on:click="showHome">Home</a></li>
                        <li><a href="#" @click="showCourses">Courses</a></li>
                        <li><a @mouseover="showAbout = true" @mouseleave="showAbout = false" class="nav-item">About</a>
                        </li>
                        <li><a @mouseover="showContact = true" @mouseleave="showContact = false"
                                class="nav-item">Contact</a></li>
                        <button id="checkout_button" v-on:click="showCheckout">
                            &nbsp;<i class="fa-solid fa-cart-shopping"></i>&nbsp;{{ cartItemCount }}
                        </button>
                    </ul>
                </div>
            </nav>
            <div @mouseover="showContact = true" @mouseleave="showContact = false" id="contact-info"
                v-show="showContact" class="info-box">
                <h3 class="contact-us">Contact Us</h3>
                <p><strong>Customer Support Hotline:</strong> <a href="tel:+123456789">+971563636822</a></p>
                <p><strong>Business Hours:</strong><br>Monday - Friday: 9:00 AM - 6:00 PM<br>Saturday: 10:00 AM - 4:00
                    PM</p>
                <p><strong>For SMS Support:</strong> <a href="sms:123">"123"</a></p>
                <p><strong>Email Us:</strong> <a href="mailto:someone@example.com">Kabeerkumar577@gmail.com</a></p>

                <h4>Connect with Us:</h4>
                <ul style="list-style-type: none; padding: 0;">
                    <li><a href="https://facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="https://twitter.com/yourprofile" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li><a href="https://linkedin.com/company/yourcompany" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div @mouseover="showAbout = true" @mouseleave="showAbout = false" id="about-info" v-show="showAbout"
                class="about-box">
                <h3 class="About">About Us</h3>
                <h3 class="kabeer">Kabeer Kumar</h3>
                <div class="about-profile">
                    <img src="Images/profile1.jpg" alt="">
                    <p>Welcome to Future Academy, a premier destination for top-rated courses that help you grow and
                        excel in various fields. Our mission is to provide high-quality, accessible education that
                        equips students with practical skills and knowledge for their future careers.</p>
                    <p>We offer a diverse range of courses taught by experienced professionals who are passionate about
                        teaching and committed to your success. With a focus on hands-on learning, we ensure you gain
                        the confidence to apply what you learn in real-world scenarios.</p>
                    <p>Whether you're starting your career or looking to expand your skill set, Future Academy is here
                        to support your educational journey. Join us and unlock your potential with a learning
                        experience that’s designed just for you.</p>

                </div>
            </div>
        </header>

        <main>
            <section id="main-section" v-if="showProduct">
                <!-- Home -->
                <section id="home" v-if="showHomeContent">
                    <h2>Unlock innovation with the power of technology education</h2>
                    <p>Technology is not just a tool, it’s a gateway to innovation,
                        creativity, and a better future. By investing in tech education,
                        we invest in a future where everyone has the potential to contribute to meaningful change and
                        drive
                        progress.</p>
                    <div class="btn">
                        <a class="learn" href="#">Learn More</a>
                        <a class="courses" href="#" @click="showCourses">Visit Courses</a>
                    </div>
                </section>

                <section v-if="showCoursesOnly" id="sort-toggle-section">
                    <button @click="toggleSortSection" class="sort-toggle-btn">Filter By</button>
                    <div class="sort-options" v-show="showSortSection">
                        <div class="tags">
                            <span class="close-tag" v-on:click="closeSortSection">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </span>
                        </div>
                        <h2>Sort & Filter<i class="fa-solid fa-filter"></i></h2>
                        <select v-model="sortBy">
                            <option value="title">Sort by</option>
                            <option value="availability">Availability</option>
                            <option value="price">Price</option>
                            <option value="location">Location</option>
                        </select>
                        <select v-model="sortOrder">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </section>
                <!-- Loop through products -->

                <h1 id="title" v-text="sitename"></h1>
                <section id="products-section">
                    <div v-for="product in products" :key="product.id" class="product-item">
                        <div v-if="showImageModal" class="modal-overlay" @click="closeImageModal">
                            <div class="modal-content" @click.stop>
                                <span class="close-btn" @click="closeImageModal">&times;</span>
                                <img :src="currentImage" alt="Product image" class="modal-image">
                            </div>
                        </div>

                        <figure @click="openImageModal(product.image)">
                            <img :src="product.image" alt="Product image">
                        </figure>
                        <section id="modules">
                            <h2 class="product-item">{{ product.title }}</h2>
                            <p class="product-item product-location">{{ product.location }}</p>
                            <p>{{ product.description }}</p>
                            <p v-if="product.availableInventory > 0">In stock: {{ product.availableInventory }}</p>
                            <p v-else class="out-of-stock">Out of stock</p>
                            <p class="rating">{{ "★".repeat(product.stars) }} ({{ product.rating }})</p>
                            <p class="price">${{ product.price }}</p>
                            <button @click="addToCart(product)" v-if="product.availableInventory > 0"
                                class="add-button">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                            <button disabled v-else class="add-button">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </section>
                    </div>
                </section>

                <!-- Register Form -->
                <section id="register" v-if="showRegisterForm">
                    <div class="reminder">
                        <h1>Register To Get It</h1>
                    </div>
                    <div class="form">
                        <h3>Create Free Account Now</h3>
                        <input type="text" placeholder="Name" name="" id="">
                        <input type="text" placeholder="Email" name="" id="">
                        <input type="text" placeholder="Phone Number" name="" id="">
                        <div class="btn">
                            <a class="learn" href="#" @click.prevent="submitForm">Submit Form</a>
                        </div>
                    </div>
                </section>
                <!-- Register Form End-->
                <!-- Profile Form -->
                <section id="creater" v-if="showHomeContent">
                    <h1>Creater</h1>
                    <p>I’m a 3rd-year IT student at Middlesex University,
                        and this website is part of a project for my course</p>
                    <div class="creater-box">
                        <div class="profile">
                            <img src="Images/profile1.jpg" alt="">
                            <h6>Kabeer Kumar</h6>
                            <p>HTML Websites Creater</p>
                            <div class="pro-links">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Profile Form -->
            </section>

            <!-- Courses Form End-->
            <div v-else>
                <section v-if="!showForm && !showThankYouPage" id="cart-section">
                    <button @click="goToCourses" class="back-to-shop-btn"><i class="fa-solid fa-arrow-left"></i>Back To
                        Shop</button>
                    <h2 class="title1">Your Cart <i class="fa-solid fa-cart-shopping"></i></h2>
                    <div>
                        <div v-for="item in cartItems" :key="item.id" class="cart-product">
                            <figure class="cart-product-figure">
                                <img :src="item.image" class="cart-product-img" alt="Product image">
                            </figure>
                            <div class="cart-product-info">
                                <h2 class="cart-product-title">{{ item.title }}</h2>
                                <p class="cart-product-location">{{ item.location }}</p>
                                <!-- Quantity controls -->
                                <div class="cart-product-subsection">
                                    <!-- <p class="qty">Qty: </p> -->
                                    <div class="cart-product-quantity">
                                        <select v-model="item.orderedQuantity" @change="updateCartQuantity(item)"
                                            class="quantity-dropdown">
                                            <option v-for="n in item.availableInventory" :key="n" :value="n">{{ n }}
                                            </option>
                                        </select>
                                    </div>
                                    <p class="cart-product-rate">${{ item.price }}</p>
                                </div>
                                <p v-on:click="removeFromCart(item)" class="remove"><i class="fa-solid fa-trash"></i>
                                </p>
                            </div>
                            <div>
                                <!-- Product price -->
                                <p class="cart-product-price">${{ item.price * item.orderedQuantity }}</p>
                            </div>
                        </div>
                    </div>
                    <div id="price-overview">
                        <h3 class="title">Subtotal</h3>
                        <hr class="po-line">
                        <span class="po-span">
                            <p class="po-text">SUBTOTAL</p>
                            <p class="price-text">${{ cartSubtotal.toFixed(2) }}</p>
                        </span>
                        <span class="po-span">
                            <p class="po-text">TAX</p>
                            <p class="price-text">$0.00</p>
                        </span>
                        <span class="po-span-2">
                            <p class="po-text">TOTAL</p>
                            <p class="price-text">${{ cartSubtotal.toFixed(2)}}</p>
                        </span>
                        <a href="#checkout-form"><button v-on:click="showFormSection()" id="ptcButton">PROCEED TO
                                CHECKOUT</button></a>
                    </div>
                </section>
            </div>
        </main>
        <!-- Footer visible when not showing only courses -->
        <footer v-if="showHomeContent">
            <div class="footer-col">
                <h3>Top Products</h3>
                <li>Virtual Labs</li>
                <li>Mentorship Programs</li>
                <li>Online Libraries</li>
                <li>Cloud Services (AWS, Azure, Google Cloud)</li>
            </div>

            <div class="footer-col">
                <h3>Quick Links</h3>
                <li>Course Catalog</li>
                <li>Admissions</li>
                <li>Student Portal</li>
                <li>Events & Workshops</li>
            </div>

            <div class="footer-col">
                <h3>Features</h3>
                <li>Industry-Driven Curriculum</li>
                <li>Experienced Faculty</li>
                <li>Job Placement Assistance</li>
                <li>Flexible Learning</li>
            </div>

            <div class="footer-col">
                <h3>Guides</h3>
                <li>Research</li>
                <li>Experts</li>
                <li>Managed Website</li>
                <li>Marketing Service</li>
            </div>

            <div class="footer-col">
                <h3>Newsletter</h3>
                <p>What’s New at Future Academy?</p>
                <div class="subscribe">
                    <input type="text" placeholder="Your Email address">
                    <a href="#" class="courses">SUBSCRIBE</a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Script -->
    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: "Our Top Rated Courses",
                showRegisterForm: true,
                showContact: false,
                showAbout: false,
                showProduct: true,
                showHomeContent: true,
                showCoursesOnly: false,
                showSortSection: false,
                showNavBar: true,
                showImageModal: false,
                currentImage: '',
                school: {
                    name: 'Future Academy',
                    logo: 'Images/logo1.png'
                },

                products: [
                    {
                        id: 8181,
                        title: "Python",
                        location: 'Dubai',
                        price: 20.99,
                        image: "Images/python.webp",
                        availableInventory: 5,
                        orderedQuantity: 0,
                        rating: 239,
                        stars: 5,

                    },
                    {
                        id: 8182,
                        title: "AI",
                        location: 'California',
                        price: 80.99,
                        image: "Images/AI.jpg",
                        availableInventory: 4,
                        orderedQuantity: 0,
                        rating: 220,
                        stars: 5,
                    },
                    {
                        id: 8183,
                        title: "HTML",
                        location: 'NewYork',
                        price: 169.99,
                        image: "Images/htmlcssjava.jpg",
                        availableInventory: 9,
                        orderedQuantity: 0,
                        rating: 239,
                        stars: 5,
                    },
                    {
                        id: 8184,
                        title: "C++",
                        location: 'Portugal',
                        price: 59.99,
                        image: "Images/C++.png",
                        availableInventory: 3,
                        orderedQuantity: 0,
                        rating: 82,
                        stars: 5,
                    },
                    {
                        id: 8185,
                        title: "JAVA",
                        location: 'Paris',
                        price: 110.99,
                        image: "Images/java.jpeg",
                        availableInventory: 6,
                        orderedQuantity: 0,
                        rating: 145,
                        stars: 4,
                    },
                    {
                        id: 8186,
                        title: "Operating System",
                        location: 'Spain',
                        price: 80.99,
                        image: "Images/operatingsystem.jpg",
                        availableInventory: 5,
                        orderedQuantity: 0,
                        rating: 121,
                        stars: 4,
                    },
                    {
                        id: 8187,
                        title: "Math",
                        location: 'Pakistan',
                        price: 110.99,
                        image: "Images/math.jpeg",
                        availableInventory: 4,
                        orderedQuantity: 0,
                        rating: 201,
                        stars: 5,
                    },
                    {
                        id: 8188,
                        title: "Ethical Hacking",
                        location: 'Russia',
                        price: 165.99,
                        image: "Images/Ethicalhacking.png",
                        availableInventory: 3,
                        orderedQuantity: 0,
                        rating: 211,
                        stars: 5,
                    },
                    {
                        id: 8189,
                        title: "Cyber Security",
                        location: 'Canada',
                        price: 190.99,
                        image: "Images/cybersecurity.jpeg",
                        availableInventory: 4,
                        orderedQuantity: 0,
                        rating: 176,
                        stars: 4,
                    },
                    {
                        id: 8190,
                        title: "Video Editing",
                        location: 'Austrailia',
                        price: 90.99,
                        image: "Images/VE.jpg",
                        availableInventory: 5,
                        orderedQuantity: 0,
                        rating: 129,
                        stars: 4,
                    },
                ],
                cart: [],
                sortBy: 'title',
                sortOrder: 'asc',
            },
            methods: {
                showHome: function () {
                    this.showHomeContent = true;
                    this.showCoursesContent = false;
                    this.showCoursesOnly = false;
                    this.showProduct = true;
                    this.showForm = false;
                },

                showFormSection: function () {
                    if (this.cart.length > 0) {
                        this.showForm = true;
                    } else {
                        alert("Please add at least one course to the cart before proceeding to checkout.");
                    }
                },

                showCheckout: function () {
                    this.showProduct = !this.showProduct;
                    this.showHomeContent = false;
                    this.showCoursesContent = false;
                    this.showRegisterForm = false;
                    this.showForm = false;
                },

                showCourses: function () {
                    this.showHomeContent = false;
                    this.showCoursesContent = true;
                    this.showCoursesOnly = true;
                    this.showRegisterForm = false;
                },

                openImageModal(image) {
                    this.currentImage = image;
                    this.showImageModal = true;
                },
                closeImageModal() {
                    this.showImageModal = false;
                },

                toggleSortSection() {
                    this.showSortSection = !this.showSortSection;
                },


                closeSortSection() {
                    this.showSortSection = false;
                },

                submitForm() {
                    this.showRegisterForm = false;
                },

                // Back To Shop (Courses Page) Btn
                goToCourses() {
                    this.showProduct = !this.showProduct;
                    this.sitename = sitename;
                },

                addToCart: function (product) {
                    if (product.availableInventory > 0) {
                        product.availableInventory--;
                        const cartProduct = this.cart.find(item => item.id === product.id);
                        if (cartProduct) {
                            cartProduct.orderedQuantity++;
                        } else {
                            // Add a new product with initial quantity 1
                            this.cart.push({ ...product, orderedQuantity: 1 });
                        }
                        this.showCartButton = true;
                    }
                },

                removeFromCart: function (product) {
                    const productIndex = this.cart.findIndex(item => item.id === product.id);

                    if (productIndex > -1) {
                        // Remove the product from the cart
                        this.cart.splice(productIndex, 1);

                        // Check if the cart is now empty and update the visibility of the cart button
                        this.showCartButton = this.cart.length > 0;
                    }
                },
                clearForm() {
                    // Reset each field to an empty or default state
                    this.order = {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        state: '',
                        zip: '',
                        gift: false,
                        method: 'Home',
                    };
                },
                goToHome() {
                    this.showProduct = true;
                    this.showHomeContent = true;
                    this.showNavBar = true;
                    this.showCartButton = false;
                    this.showThankYouPage = false;
                }

            },
            computed: {
                cartItemCount: function () {
                    return this.cart.reduce((total, cartProduct) => {
                        return total + (cartProduct.orderedQuantity || 0);
                    }, 0) || "";
                },
                cartItems() {
                    return this.cart;
                },
                cartSubtotal() {
                    return this.cart.reduce((total, item) => {
                        return total + item.price * item.orderedQuantity;
                    }, 0);
                },
                

            }
        });
    </script>
</body>

</html>